{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ferramenta para gerenciamento tático da segurança pública"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title class="icon" main-title>Analytic CompStat</title>
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static './jquery.mask.min.js' %}"></script>
    <script src="{% static './index.js' %}"></script>
    <script>
      $(document).ready(function() {
        $("#phone").mask("(00)00000-0000")
      })
    </script>
  </head>

  <body>
    <header class="header">
      <a href="https://www.analyticcompstat.com">
      <img
        class="header-image"
        src="{% static '/LogoTransparente (3).png' %}"
        alt="Logo"
      />
    </a>
      <nav class="header-menu">
        <a class="header-menu-item" href="https://www.analyticcompstat.com">Home</a>
        <a class="header-menu-item" href="#contact">Contato</a>
      </nav>
    </header>

    <main class="content">
      <section class="main-content">
        <div class="main-content-text">
          <h1 class="main-content-title">Analytic CompStat</h1>
          <h2 class="main-content-subtitle">
            A Tecnologia a serviço da Segurança Pública<br />
          </h2>
          <p>
            Você já imaginou ter à disposição um sistema poderoso capaz de criar
            cenários estratégicos a partir da correlação de dados provenientes
            de diversas fontes de interesse da segurança? O Analytic CompStat é
            a resposta a essa necessidade, transformando informações de
            inteligência em uma ferramenta essencial para o planejamento tático e
            execução de operações da segurança pública.
          </p>
          <button class="main-content-button">
            <a class="help-button" href="#contact">Como podemos te ajudar?</a>
          </button>
        </div>
        <img class="main-content-image" src="{% static './Capturar3.JPG' %}" alt="" />
      </section>

      <section class="secondary-content">
        <h3 class="secondary-content-title">Recursos do Analytic CompStat</h3>
        <p class="secondary-content-paragraph"></p>
        <ul class="secondary-content-features">
          <li></i>Análise de Dados Avançada</li>
          <li>Mapeamento de Ocorrências</li>
          <li>Integração de Dados</li>
          <li>Gestão de Operações</li>
          <li>Planejamento Tático</li>
          <li>Eficiência Operacional</li>
          <li>Análise de Correlações</li>
          <li>Redução do Tempo de Resposta</li>
        </ul>
      </section>
      <section class="icon-section">
        <div class="icon-container">
          <div class="icon">
            <img src="{% static './analise.png' %}" alt="Ícone 1" />
            <p>Análise</p>
          </div>
          <div class="icon">
            <img src="{% static './integracao.png' %}" alt="Ícone 2" />
            <p>Integração</p>
          </div>
          <div class="icon">
            <img src="{% static './planejamento.png' %}" alt="Ícone 3" />
            <p>Planejamento Tático</p>
          </div>
        </div>
      </section>
      <section class="secondary-content">
        <h3 class="secondary-content-title">Benefícios do Analytic CompStat</h3>
      </section>
      <section class="icon-section">
        <div class="icon-container">
          <div class="icon">
            <img src="{% static './agil.png' %}" alt="Ícone 1" />
            <p>Eficiência</p>
          </div>
          <div class="icon">
            <img src="{% static './confiar.png' %}" alt="Ícone 2" />
            <p>Precisão</p>
          </div>
          <div class="icon">
            <img src="{% static './livro.png' %}" alt="Ícone 3" />
            <p>Inteligência</p>
          </div>
        </div>
      </section>

    </main>

    <div id="whatsapp-button">
      <a
        href="https://api.whatsapp.com/send?phone=5531982701525"
        target="_blank"
      >
        <img src="{% static './whatsapp button.png' %}" alt="WhatsApp Icon" />
      </a>
    </div>

    <section class="contact-section" id="contact">
      <div class="contact-form-title">
        <span class="highlighted-text">Dúvidas?</span> <br /><br />
        Entre em contato conosco
      </div>
      <div class="contact-content">
        <div class="contact-info">

          <div class="contact-info-item">
            <img src="{% static './o-email.png' %}" alt="Email" />
            <p>contato@analyticcompstat.com</p>
          </div>
          <div class="follow-us">
            <h3>Siga-nos</h3>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.instagram.com/sejasoftmig/"
            >
              <img src="{% static './instagram footer.png' %}" alt="Instagram" />
            </a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://linkedin.com/company/softmig-software-e-telecomunicacoes"
            >
              <img src="{% static './linkedin footer.png' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="contact-form">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
              <label for="phone">Telefone:</label>
              <input type="tel" id="phone" name="phone" required />
            </div>
            <div class="form-group">
              <label for="message">Mensagem:</label>
              <textarea id="message" name="message" rows="4"></textarea>
            </div>
            <button class="contact-button" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </section>

    <section class="contract-content">
      <div class="contract-content-wrapper">
      <div class="contract-content-text">
        <h2 class="contract-content-subtitle">
          Potencialize-se agora com o Analytic CompStat!<br />
        </h2>
        <p>
          Está na hora de elevar a segurança da comunidade a um novo patamar com
          uma ferramenta que vai revolucionar a forma como a segurança
          pública lida com dados e inteligência. Ele oferece uma abordagem
          integrada e eficaz para o gerenciamento de informações, permitindo que
          as autoridades tomem decisões mais informadas e estratégicas. Investir
          no Analytic CompStat é investir na segurança de sua comunidade.
        </p>
        <button class="main-content-button">
          <a class="help-button" href="#contact">Como podemos te ajudar?</a>
        </button>
      </div>
      <img class="contract-content-image" src="{% static './maosdadas.jpg' %}" alt="" />
      </div>
    </section>
    
    <div class="footer-divider"></div>

    <footer class="footer">
      <div class="footer-content-global">
        <div class="">
          <h4>Um produto:</h4>
          <img src="{% static './softmig_logo.png' %}" alt="logo softmig"
            />
        </div>
        
        <div class="">
          <h4>Contato</h4>
          <section class="social-media">
            <a
              class="icon-footer"
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.instagram.com/sejasoftmig/"
              ><img src="{% static './instagram footer.png' %}" alt="logo instagram"
            /></a>
            <a
              class="icon-footer"
              target="_blank"
              rel="noopener noreferrer"
              href="https://api.whatsapp.com/send?phone=553132182710"
              ><img src="{% static './whatsapp footer.png' %}" alt="logo whatsapp"
            /></a>
            <a
              class="icon-footer"
              target="_blank"
              rel="noopener noreferrer"
              href="http://linkedin.com/company/softmig-software-e-telecomunicacoes"
              ><img src="{% static './linkedin footer.png' %}" alt="logo linkedin"
            /></a>
          </section>
          <p>Email: contato@analyticcompstat.com</p>
        </div>
      </div>
      <br>
      <!--
      <div class="footer-footer">
        <p class="copy">
          &copy; 2023 Analytic CompStat | Todos os direitos reservados.
        </p>
      </div>
      -->
    </footer>

  </body>
</html>
