<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
	  <handlers>
		<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
			scriptProcessor="C:\WebSites\www.analyticcompstat.com\venv\Scripts\python.exe|C:\WebSites\www.analyticcompstat.com\venv\Lib\site-packages\wfastcgi.py"
			resourceType="Unspecified"
			requireAccess="Script"/>
	  </handlers>
	</system.webServer>
	
	<appSettings>
		<add key="PYTHONPATH" value="C:\WebSites\www.analyticcompstat.com"/>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
		<add key="DJANGO_SETTINGS_MODULE" value="analytic.settings"/>
		<add key="WSGI_LOG" value="C:\WebSites\www.analyticcompstat.com\wfastcgi.log"/>
	</appSettings>

</configuration>